.background {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    inline-size: 100%;
    block-size: 98vh;
    background-image:url('Image2.jpg') ;
}
canvas{
    box-shadow: #100108 30;
    border-radius: 25px;
    background: url("Image1.jpg");
    animation: zoom-in-zoom-out 5s ease-out infinite;
    
      }
      
    @keyframes zoom-in-zoom-out {
        0% {
          transform: scale(0.99, 0.99);
        }
        50% {
          transform: scale(1.01, 1.01);
        }
        100% {
          transform: scale(0.99, 0.99);
        }
      }

.d-none{
    display: none;
}
.btn{
    text-align: center;
    border-radius: 15px;
    background-color: rgb(221, 206, 125);
    
}
.namegames{
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(4, 4, 65);
}
.btn_Reset:hover {
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1.5px black;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(221, 128, 6);
    transition: 0.5s;
    cursor:pointer;
}

.btn_Star_Games:hover {
    font-size: 15px;
    box-shadow: 1.5px black;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(221, 128, 6);
    transition: 0.5s;
    cursor:pointer;
}

.btn_Quit:hover{
    font-size: 20px;
    box-shadow: 1.5px black;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(221, 128, 6);
    transition: 0.5s;
    cursor:pointer;
}

    
.btn_Resume:hover{
    font-size: 20px;
    box-shadow: 1.5px black;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(221, 128, 6);
    transition: 0.5s;
    cursor:pointer;
}

.btn_Pause:hover{
    font-size: 20px;
    box-shadow: 1.5px black;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(221, 128, 6);
    transition: 0.5s;
    cursor:pointer;
}
.btn_nextLever1{
    font-size: 20px;
    box-shadow: 1.5px black;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}
.btn_nextLever2{
    font-size: 15px;
    box-shadow: 1.5px black;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}
.btn_nextLever3{
    font-size: 15px;
    box-shadow: 1.5px black;
   border: none;
   font-family: 'Courier New', Courier, monospace;
   background-color: aqua;
}
.btn_nextLever4{
    font-size: 15px;
    box-shadow: 1.5px black;
    border: none;
    font-family: 'Courier New', Courier, monospace;
   background-color: aqua;
}
.btn_nextLever5{
    font-size: 15px;
    box-shadow: 1.5px black;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}
.btn_volumon:hover{
   background-color: black;
   border-radius: 5px;
   cursor:pointer;
}
.btn_volumoff:hover{
    background-color: black;
    border-radius: 5px;
    cursor:pointer;
 }